<h5>Choose Available Times</h5>
<div class="cont clearfix">
    <div class="col-md-3 input-cont">
        <form ng-submit="calendarData.submitForm()">
            <input type="text" class="form-control" placeholder="Title" ng-model="calendarData.title">
            <input type="text" class="form-control" placeholder="Location" ng-model="calendarData.location">
            <textarea class="form-control" ng-model="calendarData.desc" placeholder="Description">
            </textarea>
            <input type="submit" class="form-control btn btn-primary" value="Insert Invite">
            <input type="reset" class="form-control btn btn-default" value="Cancel">
        </form>
    </div>
    <div class="col-md-9 calendar-cont">
        <!--<div class="invite-in-progress" ng-show="inviteInProgress">
            <div class="cssload-thecube">
                <div class="cssload-cube cssload-c1"></div>
                <div class="cssload-cube cssload-c2"></div>
                <div class="cssload-cube cssload-c4"></div>
                <div class="cssload-cube cssload-c3"></div>
            </div>
        </div>-->
        <calendar events="calendarData.items"></calendar>
    </div>
</div>
